<!DOCTYPE html>
<html lang="ja">
<% include('./const/_path') %>
<% include('./const/_siteData') %>
<%- include('./base/_header') %>
<body>
    <canvas id="canvas"></canvas>
    <%- include('./base/_footer') %>
</body>
</html>